@model HospitalTeam2.Models.ViewModels.VolunteerEdit

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<h4>Volunteer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Volunteer/Create" method="post">

            <label>Hospital Title</label>
            <select name="hospitalid">
                @{
                    foreach (var hospital in Model.Hospitals)
                    {
                        <option value="@(hospital.HospitalID)">@(hospital.HospitalTitle)</option>
                    }

                }
            </select>


            <label>First Name</label>
            <input type="text" name="FirstName_New" />

            <label>Last Name</label>
            <input type="text" name="LastName_New" />

            <label>Middle Name</label>
            <input type="text" name="Middle_New" /> 

            <label>City</label>
            <input type="text" name="City_New" />

            <label>Province</label>
            <input type="text" name="Province_New" />

            <label>ZIP</label>
            <input type="text" name="Zip_New" />

            <label>Phone</label>
            <input type="text" name="Phone_New" />

            <label>Email</label>
            <input type="text" name="Email_New" />

            <label>Age</label>
            <input type="text" name="Age_New" />

            <label>Gender</label>
            <input type="text" name="Gender_New" />

            <label>Education</label>
            <input type="text" name="Education_New" />

            <label>Experience</label>
            <input type="text" name="Experience_New" />

            <label>Availability</label>
            <input type="text" name="Availability_New" />

            <label>Name</label>
            <input type="text" name="Name_New" />

            <label>Phone</label>
            <input type="text" name="Phone_em_New" />

            <label>Relationship</label>
            <input type="text" name="Relationship_New" />

            <label>Health Condition</label>
            <input type="text" name="HealthCondition_New" />



            <input type="submit" value="submit" />

        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

