@model HospitalTeam2.Models.ViewModels.VolunteerEdit

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<h4>Volunteer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Volunteer/Create" method="post">
<div class="form-group">
            <label class="control-label">Hospital Title</label>
            <select class="form-control" name="hospitalid">
                @{
                    foreach (var hospital in Model.Hospitals)
                    {
                        <option value="@(hospital.HospitalID)">@(hospital.HospitalTitle)</option>
                    }

                }
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">First Name</label>
            <input class="form-control" type="text" name="FirstName_New" />
          </div>
           <div class="form-group">
            <label class="control-label">Last Name</label>
            <input class="form-control" type="text" name="LastName_New" />
            </div>
            <div class="form-group">
            <label class="control-label">Middle Name</label>
            <input class="form-control" type="text" name="Middle_New" /> 
             </div>
            <div class="form-group">
            <label class="control-label">City</label>
            <input class="form-control"  type="text" name="City_New" />
             </div>
            <div class="form-group">
            <label class="control-label">Province</label>
            <input class="form-control" type="text" name="Province_New" />
            </div>
            <div class="form-group">
            <label class="control-label">ZIP</label>
            <input class="form-control" type="text" name="Zip_New" />
            </div>
            <div class="form-group">
            <label class="control-label">Phone</label>
            <input class="form-control" type="text" name="Phone_New" />
            </div>
            <div class="form-group">
            <label class="control-label">Email</label>
            <input class="form-control" type="text" name="Email_New" />
             </div>
            <div class="form-group">
            <label class="control-label">Age</label>
            <input class="form-control"type="text" name="Age_New" />
            </div>
            <div class="form-group">
            <label class="control-label">Gender</label>
            <input class="form-control" type="text" name="Gender_New" />
            </div>
            <div class="form-group">
            <label class="control-label">Education</label>
            <input class="form-control"type="text" name="Education_New" />
            </div>
            <div class="form-group">
            <label class="control-label">Experience</label>
            <input class="form-control"type="text" name="Experience_New" />
                </div>
            <div class="form-group">
            <label class="control-label">Availability</label>
            <input class="form-control"type="text" name="Availability_New" />
            </div>
            <div class="form-group">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" name="Name_New" />
            </div>
            <div class="form-group">
            <label class="control-label">Phone</label>
            <input class="form-control" type="text" name="Phone_em_New" />
            </div>
            <div class="form-group">
            <label class="control-label">Relationship</label>
            <input class="form-control"type="text" name="Relationship_New" />
                </div>
            <div class="form-group">
            <label class="control-label">Health Condition</label>
            <input class="form-control"type="text" name="HealthCondition_New" />
            </div>


            <input type="submit" value="submit" class="btn btn-default" />

        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

