@model HospitalTeam2.Models.ViewModels.VolunteerEdit

@{
    ViewData["Title"] = "New";
}

<div id="volunteerbanner">
    <img src="~/images/volunteer.png" class="img-fluid" alt="Responsive image" />
</div>
<h3>Apply Now</h3>
<div class="row">
<div id="responsive-form" class="clearfix">

    <form action="/Volunteer/Create" method="post">
        <div class="form-row">
            <h4>Hospital Title</h4>
            <select class="column-full" name="hospitalid">
                @{
                    foreach (var hospital in Model.Hospitals)
                    {
                        <option value="@(hospital.HospitalID)">@(hospital.HospitalTitle)</option>
                    }

                }
            </select>
        </div>
        <h4>Contact Information</h4>
        <div class="form-row">
            <input class="column-half" type="text" name="FirstName_New" placeholder="First Name" />
            <input class="column-half" type="text" name="LastName_New" placeholder="Last Name" />
        </div>
        <br />
        <div class="form-row">
            <input class="column-full" type="text" name="Middle_New" placeholder="Middle Name" />
        </div>
        <br />
        <div class="form-row">
            <input class="column-half" type="text" name="City_New" placeholder="City" />
            <input class="column-half" type="text" name="Province_New" placeholder="Province" />
        </div>
        <br />
        <div class="form-row>">
            <input class="column-full" type="text" name="Zip_New" placeholder="ZIP" />
        </div>
        <div class="form-row">
            <input class="column-half" type="text" name="Phone_New" placeholder="Phone" />
            <input class="column-half" type="text" name="Email_New" placeholder="Email" />
        </div>
        <h4>Demographic Information</h4>
        <div class="form-row">
            <input class="column-half" type="text" name="Age_New" placeholder="Age" />
            <input class="column-half" type="text" name="Gender_New" placeholder="Gender" />
        </div>
        <div class="form-row">
            <input class="column-half" type="text" name="Education_New" placeholder="Education" />
            <input class="column-half" type="text" name="Experience_New" placeholder="Experience" />
        </div>
        <div class="form-row">
            <input class="column-full" type="text" name="Availability_New" placeholder="Availability" />
        </div>
        <h4>Emergency Contact</h4>
        <div class="form-row">
            <input class="column-half" type="text" name="Name_New" placeholder="Name" />
            <input class="column-half" type="text" name="Phone_em_New" placeholder="Phone" />
        </div>
        <div class="form-row">
            <input class="column-full" type="text" name="Relationship_New" placeholder="Relationship" />
        </div>
        <div class="form-row">
            <textarea class="column-full" type="text" name="HealthCondition_New" placeholder="Health Condition"></textarea>
        </div>


        <input type="submit" value="submit" class="btn btn-primary btn-block" />

    </form>

    <div>
        <a asp-action="List">Back to List</a>
    </div>
</div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

