@model HospitalTeam2.Models.Hospital

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>


<h4>Hospital</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Hospital/Create" method="post">
            <div class="form-group">
                <label class="control-label">Hospital Title</label>
                <input class="form-control"type="text" name="HospitalTitle_New" />
               </div>
            <div class="form-group">
                <label class="control-label">Address</label>
                <input class="form-control" type="text" name="Address_New" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" type="text" name="Email_New" />
               </div>
            <div>
                <label class="control-label">Phone</label>
                <input class="form-control"type="text" name="Phone_New" />
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <input class="form-control"type="text" name="Description_New" />
          </div>


                <input type="submit" value="submit" />

</form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
