@model HospitalTeam2.Models.Hospital

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>


<h4>Hospital</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Hospital/Create" method="post">

            <label>Hospital Title</label>
            <input type="text" name="HospitalTitle_New" />

            <label>Address</label>
            <input type="text" name="Address_New" />

            <label>Email</label>
            <input type="text" name="Email_New" />

            <label>Phone</label>
            <input type="text" name="Phone_New" />

            <label>Description</label>
            <input type="text" name="Description_New" />



            <input type="submit" value="submit" />

        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
