@model HospitalTeam2.Models.ViewModels.ParkingEdit
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Parking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input id="ParkingName_New" name="ParkingName_New" />
            </div>
            <div class="form-group">
                <label class="control-label">Car No.</label>
                <input id="ParkingCar_New" name="ParkingCar_New" />
            </div>
            <div class="form-group">
                <label class="control-label">Purpose of visit</label>
                <input id="ParkingPurpose_New" name="ParkingPurpose_New" />
                @*<select id="ParkingPurpose_New" class="form-control">
            <option value="appointment">Appointment</option>
            <option value="visitor">Visitor</option>
            <option value="patient">Patient</option>
            <option value="other">Other</option>
        </select>*@
            </div>
            <div class="form-group">
                <label class="control-label">Contact</label>
                <input id="ParkingContact_New" name="ParkingContact_New" />
            </div>
            <div class="form-group">
                <label class="control-label">Hospital</label>
                <select id="ParkHospital_New" name="ParkHospital_New">
                    @{
                        foreach (var hospital in Model.Hospitals)
                        {
                            <option value="@(hospital.HospitalID)">@(hospital.HospitalTitle)</option>
                        }

                    }
                </select>
            </div>




            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
