@model HospitalTeam2.Models.Donor

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/DivyaStyle.css" rel="stylesheet" type="text/css" />
<h2>
    @Html.DisplayFor(model => model.DonorName)
</h2>

<div>
    <h4>Donor</h4>
    <hr />
    <div class="container">   
            <p>
                Message
            </p>
            <p>
                @Html.DisplayFor(model => model.DonorMessage)
            </p>
            <div class="donorImage">
                <img src="~/images/Donors/@Html.DisplayFor(model => model.ImageUrl)" />
                
            </div>
        
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
