@model HospitalTeam2.Models.ViewModels.JobApplicationEdit

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<h4>JobApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/JobApplication/Create" method="post">

            <label>Job Posting</label>
            <select name="jobpostingid">
                @{
                    foreach (var jobposting in Model.JobPostings)
                    {
                        <option value="@(jobposting.JobPostingID)">@(jobposting.JobPostingTitle)</option>
                    }

                }
            </select>


            <label>First Name</label>
            <input type="text" name="FirstName_New" />

            <label>Last Name</label>
            <input type="text" name="LastName_New" />

            <label>Email</label>
            <input type="text" name="Email_New" />

            <label>Phone</label>
            <input type="text" name="Phone_New" />

            <label>Cover Letter</label>
            <input type="text" name="CoverLetter_New" />

            <label>Resume</label>
            <input type="text" name="Resume_New" />

            

            <input type="submit" value="submit" />

        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
