@model HospitalTeam2.Models.ViewModels.JobApplicationEdit

@{
    ViewData["Title"] = "New";
}

<div  id="careerbanner">
    <img src="../images/careers.jpg" class="img-fluid" alt="Responsive image" />
    
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Apply Now</h3>
        <form action="/JobApplication/Create" method="post">
            <div class="form-group">
                <label class="control-label">Job Posting</label>
                <select class="form-control" name="jobpostingid">
                    @{
                        foreach (var jobposting in Model.JobPostings)
                        {
                            <option value="@(jobposting.JobPostingID)">@(jobposting.JobPostingTitle)</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input class="form-control" type="text" name="FirstName_New" />
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input class="form-control" type="text" name="LastName_New" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input class="form-control" type="text" name="Email_New" />
            </div>
            <div class="form-group">
                <label class="control-label">Phone</label>
                <input class="form-control" type="text" name="Phone_New" />
            </div>
            <div class="form-group">
                <label class="control-label">Cover Letter</label>
                <input class="form-control" type="text" name="CoverLetter_New" />
            </div>
            <div class="form-group">
                <label class="control-label">Resume</label>
                <input class="form-control" type="text" name="Resume_New" />
            </div>

            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
