@model HospitalTeam2.Models.Department

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="New">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartmentTitle" class="control-label"></label>
                <input asp-for="DepartmentTitle" class="form-control" />
                <span asp-validation-for="DepartmentTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobPostingTitle" class="control-label"></label>
                <select asp-for="JobPostingTitle" class="form-control" asp-items="ViewBag.JobPostingTitle"></select>
            </div>
            <div class="form-group">
                <label asp-for="HospitalTitle" class="control-label"></label>
                <select asp-for="HospitalTitle" class ="form-control" asp-items="ViewBag.HospitalTitle"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
