@model HospitalTeam2.Models.ViewModels.DepartmentEdit

@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Department/Create" method="post">

            <label>Department Title</label>
            <input type="text" name="DepartmentTitle_New"/>

            <label>Hospital Title</label>
            <select name="hospitalid">
                @{ 
                    foreach(var hospital in Model.Hospitals)
                    {
                        <option value="@(hospital.HospitalID)">@(hospital.HospitalTitle)</option>
                    }

                }
            </select>


            <input type="submit" value="submit" />

        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
