@model HospitalTeam2.Models.FAQ

@{
    ViewData["Title"] = "Create";
}

<div class="jumbotron">
    <div class="containerH">
        <h2>Add FAQ</h2>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            
            <div class="form-group">
                <label class="inplabel">FAQ Question</label>
                <input id="FAQ_NewQ" name="FAQ_NewQ" />
            </div>

            <div class="form-group">
                <div class="inplabel">FAQ Answer</div>
                <input id="FAQ_NewA" name="FAQ_NewA" />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

